body {
    font-family: "Bahnschrift", Arial, sans-serif;
    margin: 0;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a,
.cta-button {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover,
.cta-button:hover {
    background-color: #575757;
}

.main-content {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info, .contact-form, .social-media {
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #575757;
}

.social-media ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.social-media ul li {
    display: inline;
    margin-right: 15px;
}

.social-media ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s;
}

.social-media ul li a:hover {
    color: #575757;
}
